<!DOCTYPE html>
<style>    
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
    #sententreeTopicos {
        /*
        border-style: solid;
        border-width: 2px;
        border-color: black;
        */
        padding: 0%;
        margin: 0%;
        height: 90vh;
        width: 100vw;
    }
    #toolBar{
        height: 8vh;
    }

    .group {
        cursor: grab;
    }

    .label {
        cursor: grab;
    }
    #numTopic{
        width: 50px;
    }
    .detalles{
        font-family: 'Open Sans', sans-serif;
        font-weight: bolder;
    }
</style>
<!----------------->
<html>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="http://marvl.infotech.monash.edu/webcola/cola.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{url_for('static',filename='js/SententreeVis.js')}}"></script>

<head>
    <title>
        Sententopic
    </title>
</head>

<body>
    <div id="toolBar">
        <button onclick="crearSententree()">
            Mostrar/ocultar Sententree
        </button>
        <button onclick="eliminarNodo()">
            Eliminar
        </button>
        <button onclick="mezclarTopicos()">
            Mezclar
        </button>
        <div>
            <input id="numTopic" type="number" value="2" min="2" max="10">
            <button onclick="buscarTopicos()">
                Buscar topicos
            </button>
        </div>
    </div>
    
    <div id="sententreeTopicos"></div>
</body>
<!----------------------------------------------->
<script>
    /*
    var graph = {
        "nodes": [
            { "name": "jhorel", "width": 60, "height": 40 },
            { "name": "bebe", "width": 60, "height": 40 },
            { "name": "casa", "width": 60, "height": 40 },
            { "name": "dedo", "width": 60, "height": 40 },
            { "name": "enano", "width": 60, "height": 40 }
        ],
        "links": [
            { "source": 0, "target": 2 },
            { "source": 2, "target": 1 },
            { "source": 2, "target": 3 },
            { "source": 1, "target": 4 }
        ],
        "constraints": [
            {
                "type": "alignment",
                "axis": "x",
                "offsets": [
                    { "node": 1, "offset": 0 },
                    { "node": 3, "offset": 0 }
                ]
            }
        ]
    };
    */
    var graph = JSON.parse('{{data|tojson|safe}}');
    //console.log(graph);
    var escogidos = [];
    //----------------------------------------------------  HERRAMIENTAS
    function crearSententree() {
        if(escogidos.lenght){
            return
        }
        //console.log("ESCOGIDOS " + escogidos);
        $.ajax({
            type: "POST",
            url: "{{url_for('crearSententree')}}",
            data: { "escogidos": escogidos },
            success: function (result) {
                graph = result;
                //console.log(graph);
                update();
                escogidos=[]
            }
        })

    }

    function eliminarNodo(){
        if(escogidos.lenght){
            return
        }
        $.ajax({
            type: "POST",
            url: "{{url_for('eliminarNodo')}}",
            data: { "escogidos": escogidos },
            success: function (result) {
                graph = result;
                //console.log(graph);
                update();
                escogidos=[]
            }
        })
    }
    
    function buscarTopicos(){
        var valor=document.querySelector("#numTopic").value;
        if(escogidos.lenght){
            return
        }
        console.log("enviando buscarTopicos")
        $.ajax({
            type: "POST",
            url: "{{url_for('buscarTopicos')}}",
            data: { 
                "escogidos": escogidos,
                "numeroTopicos":valor
            },
            success: function (result) {
                //console.log("GAAAAAAAAAA")
                //console.log(result);
                graph = result;
                //console.log(graph);
                update();
                escogidos=[];
            }
        })
    }
    
    function mezclarTopicos(){
        if(escogidos.lenght<2){
            return
        }
        console.log("enviando mezclarTopicos")
        $.ajax({
            type: "POST",
            url: "{{url_for('mezclarTopicos')}}",
            data: { 
                "escogidos": escogidos
            },
            success: function (result) {
                graph = result;
                update();
                escogidos=[];
            }
        })
    }
    //----------------------------------------------------  VISUALIZACION
    const width = document.querySelector("#sententreeTopicos").offsetWidth;
    const height = document.querySelector("#sententreeTopicos").offsetHeight;

    const d3cola = cola.d3adaptor()
        .avoidOverlaps(true)
        .size([width, height]);

    var detalles=d3
        .select('#sententreeTopicos')
        .append('div')
        .attr('class','detalles')
        .attr('id','tooltip')
        .style('position','relative ')
        .style('opacity',0);

    const svg = d3
        .select("#sententreeTopicos")
        .append("svg")
        .attr("class", "main")
        .attr("width", width)
        .attr("height", height);

    //var colors = ["#f94144","#f3722c","#f8961e","#f9844a","#9f86c0","#90be6d","#43aa8b","#4d908e","#577590","#277da1"];
    var colors = ["#1F77B4","#FF7F0E","#2CA02C","#D62728","#9467BD","#8C564B","#E377C2","#7F7F7F","#BCBD22","#17BECF"];
    var filterDef=svg.append("defs");
    var filter=filterDef
    .append("filter")
    .attr("x","0")
    .attr("y","0")
    .attr("width","1")
    .attr("height","1")
    .attr("id","solid");

    filter.append("feFlood")
    .attr("flood-color","white")
    .attr("result","bg");

    var filterMerge=filter.append("feMerge");

    filterMerge.append("feMergeNode")
    .attr("in","bg");

    filterMerge.append("feMergeNode")
    .attr("in","SourceGraphic");

    
    /*
    var domain=createDomain(100,colors.length)
    var color=d3
        .scale.linear()
        .domain(domain)
        .range(colors);

    function createDomain(dataLength,colorsLength){
        var domain = [0];
        var toAdd = colorsLength - 2;
        for(i = 1; i <= toAdd; i++) {
            domain.push(Math.floor(dataLength * (i / (colorsLength - 1))));
        }
        domain.push(dataLength - 1);         
        return domain;
    }
    */
    function renderLinks() {
        var link = svg
            .selectAll(".link")
            .data(graph.links)
            .enter().append("line")
            .attr("class", "link")
            .style("stroke", (d,i)=>{
                if(d.tipo=="sententopic")
                    return "#bbbbbb";
                //return "black";
                return colors[(d.source.numTopic%10)]
            })
            .style("stroke-width", (d,i)=>{
                if(d.tipo=="sententopic")
                    return "5px";
                return "1px";
            })
            .call(d3cola.drag);
        return link;
    }
    function renderNodes() {
        var node = svg
            .selectAll(".node")
            .data(graph.nodes)
            .enter().append("circle")
            .attr("class", "node")
            .attr("r",(d,i)=>{
                if(d.label==" "){
                    return 15;
                }
                return 0;
            })
            .call(d3cola.drag);
            //.style("stroke", "#bbbbbb")
            //.style("stroke-width", "5px");
        return node;
    }
    function renderLabels() {
        var label = svg
            .selectAll(".label")
            .data(graph.nodes)
            .enter()
            .append("text")
            .attr("class", "label")
            .attr('dy', '.28em')
            .attr('index',(d,i)=>i)
            .text(function (d) { return d.label; })
            //.style("filter","url(#solid)")
            .style("font-size", (d) => { return d.fontSize + "%"; })
            .style("font-weight", "bolder")
            .style("fill",(d,i)=>{
                return colors[(d.numTopic%10)];
            })
            .on('mouseover',mouseEncima)
            .on('mouseout',mouseAfuera)
            .call(d3cola.drag);

        label.append("title").text(function (d) { return d.rawText; });

        return label;
    }
    function renderGroups() {
        var group = svg.selectAll(".group")
            .data(graph.groups)
            .enter()
            .append("rect")
            .attr("rx", 8).attr("ry", 8)
            .attr("class", "group")
            .style("stroke-width", 3)
            //.style("stroke", "rgb(0,0,0)")
            .style("stroke",(d,i)=>{
                return colors[(d.grupo%10)];
            })
            .style("stroke-dasharray", 10)
            //.style("fill-opacity", "0.0")
            .style("fill","white")
            .on('click', function (d, i) {
                if (escogidos.includes(d.grupo)) {
                    const index = escogidos.indexOf(d.grupo);
                    escogidos.splice(index, 1);
                    console.log(escogidos);
                    d3
                        .select(this)
                        .style("stroke",(d,i)=>{
                            return colors[(d.grupo%10)];
                        })
                        .style("fill","white")
                        .style("fill-opacity", "1");
                }
                else {
                    escogidos.push(d.grupo);
                    console.log(escogidos);
                    d3
                        .select(this)
                        .style("stroke", "rgb(125,0,0)")
                        .style("fill","rgb(125,0,0)")
                        .style("fill-opacity", "0.25");
                }
            })
            .call(d3cola.drag);

        return group;
    }

    function mouseEncima(event,d){
        detalles.style('opacity',0.92);
        var i=this.getAttribute('index');
        detalles
        .html(
            'TWEET: '+graph.nodes[i].rawText+' ❤️'+graph.nodes[i].size
        )
        .style('left', 0+ 'px')
        .style('top', 0 + 'px')
        .style('background-color',function(){
            return '#1DA0F1';
        });
    }

    function mouseAfuera(data){
        detalles
        .style('opacity',0)
        .style('left', -1 + 'px')
        .style('top', -3 + 'px');
    }
    function update() {
        console.log(graph);

        d3cola
            .nodes(graph.nodes)
            .links(graph.links)
            .groups(graph.groups)
            .constraints(graph.constraints)
            
            .symmetricDiffLinkLengths(20)
            .jaccardLinkLengths((d,i)=>{return d.jaccard;})
            .linkDistance((d,i)=>{return d.distance;})
            //.jaccardLinkLengths(10)
            //.linkDistance(5)
            .flowLayout('x', 120)
            .start(10,10,10);
        
        var oldLinks=svg.selectAll(".link").remove();
        var oldLabel=svg.selectAll(".label").remove();
        var oldGroup=svg.selectAll(".group").remove();
        var oldNode=svg.selectAll(".node").remove();
        /****crear nodos,links y grupos****/
        const group = renderGroups();
        const link = renderLinks();
        const node = renderNodes();
        const label = renderLabels();
        

        /****Actualizar Nodos****/
        var d3Nodes = document.querySelectorAll(".label");
        const bboxNodes = [];
        for (let i = 0; i < d3Nodes.length; i++) {
            if(graph.nodes[i].label==" "){
                //console.log("entre");
                /*
                var circleBbox=node[0][i].getBBox();
                graph.nodes[i].height = circleBbox.height;
                graph.nodes[i].width = circleBbox.width;
                */
                graph.nodes[i].height = 90;
                graph.nodes[i].width = 60;
                continue;
            }
            var labelBbox = d3Nodes[i].getBBox();
            bboxNodes.push(labelBbox);
            //console.log(labelBbox);
            graph.nodes[i].height = labelBbox.height + 2.0;
            graph.nodes[i].width = labelBbox.width + 2.0;
        }
        /****Actualizar Links****/
        //N/A
        /****Actualizar Constraits****/
        graph.constraints[0].gap=500;

        /****d3 tick****/
        d3cola.on("tick", function () {
            var groupGap=5;
            label
                .attr("x", function (d) {
                    var w = this.getBBox().width;
                    return d.x - w / 2;
                    //return d.x;
                })
                .attr("y", function (d) {
                    var h = this.getBBox().height;
                    return d.y;
                });
            //------------------------------------
            node
                .attr("cx",(d)=>{
                    if(d.label==" "){
                        return d.x;
                    }
                    return d.x;
                })
                .attr("cy",(d)=>{
                    return d.y;
                })
            //------------------------------------
            link
                .attr("x1", function (d, i) {
                    /*if(d.target.x>d.source.x){
                        console.log(d.target);
                        return d.source.x+(anchos[i]/2)+gap;
                    }
                    else{
                        return d.source.x-(anchos[i]/2)-gap;
                    }*/
                    if(d.tipo=="sententopic"){
                        //return d.target.x;
                        //return d.target.parent.bounds.x+(d.target.parent.bounds.width()/2);
                        if(!d.source.parent){
                            //NODO CENTRAL
                            return d.source.x;
                        }
                        //LOS DEMAS NODOS
                        return d.source.parent.bounds.X;
                    }
                    return d.source.x+(d.source.width/2);
                })
                .attr("y1", function (d, i) {
                    return d.source.y;
                })
                .attr("x2", function (d, i) {
                    /*if(d.target.x>d.source.x){
                        return d.target.x-(anchos[i*2]/2)-gap;
                    }
                    else{
                        return d.target.x+(anchos[i*2]/2)+gap;
                    }*/
                    if(d.tipo=="sententopic"){
                        //return d.target.x;
                        //return d.target.parent.bounds.x+(d.target.parent.bounds.width()/2);
                        if(!d.target.parent){
                            return d.target.x;
                        }
                        return d.target.parent.bounds.x;
                    }
                    return d.target.x-(d.target.width/2);
                })
                .attr("y2", function (d) {
                    return d.target.y;
                });
            //------------------------------------
            group.attr("x", function (d) {
                return d.bounds.x;
            })
                .attr("y", function (d) {
                    return d.bounds.y;
                })
                .attr("width", function (d) {
                    return d.bounds.width();
                })
                .attr("height", function (d) {
                    return d.bounds.height();
                });
        });
    }

    //----------------------------------------------------  Main 
    //console.time('visualizacion');
    var start=performance.now();
    update();
    //console.log("microsegundos "+(performance.now()-start))
    //console.timeEnd('visualizacion');
     
</script>
</html>