<!DOCTYPE html>
<html lang="es">

<head>
    <title>Sententopic</title>
    <meta charset="UTF-8" />
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="http://marvl.infotech.monash.edu/webcola/cola.js"></script>
    <link rel="icon" href="/static/img/Sententree_logo.png" type="image/x-icon" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
    <script>
        // var graph = JSON.parse("{{data|tojson|safe}}");
        let graph = JSON.parse({{data|tojson|safe}});;
        console.log("graph",graph);
    </script>
    
</head>

<body>
    <header>
        <div id="logo">
            Sententopic
        </div>
        <div>
            Base de Datos: 
            <select id="select_dataset">
                {% for file in dataFiles %}
                <option value="{{ file }}">{{ file }}</option>
                {% endfor %}
            </select>
        </div>
    </header>
    <nav>
        <div id="mostrar_ocultar_sententree" class="nav-item">
            <div class="item-content">
                Mostrar/ocultar Sententree
            </div>
            <button class="item-logo">
                <img src="/static/icon/merge.png">
            </button>
        </div>
        <div id="eliminar_nodo" class="nav-item">
            <div class="item-content">
                Eliminar
            </div>
            <button class="item-logo">
                <img src="/static/icon/remove.png">
            </button>
        </div>
        <div id="mezclar_topico"class="nav-item">
            <div class="item-content">
                Mezclar
            </div>
            <button class="item-logo">
                <img src="/static/icon/merge.png">
            </button>
        </div>

        <div id="buscar_topicos_container" class="nav-item">
            <div class="item-content item-input">
                <div>Buscar tópicos</div>
                <input id="numTopic" type="number" value="2" min="2" max="10" />
            </div>
            <button class="item-logo">
                <img src="/static/icon/search.png">
            </button>
        </div>
    </nav>
    <div class="detalles"></div>
    <main>
        
        <div id="sententreeTopicos">
          <div id="loader-container"></div>
        </div>
    </main>
</body>
<!----------------------------------------------->
<script>
    var dbName = document.querySelector("#select_dataset").value;
</script>
<script src="{{url_for('static',filename='js/interactions.js')}}"></script>
<script src="{{url_for('static',filename='js/SententopicVis.js')}}"></script>
</html>