<!DOCTYPE html>
<html lang="es">

<head>
    <title>Sententopic</title>
    <meta charset="UTF-8" />
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="http://marvl.infotech.monash.edu/webcola/cola.js"></script>
    <link rel="icon" href="/static/img/Sententree_logo.png" type="image/x-icon" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
    <script>
        // var graph = JSON.parse("{{data|tojson|safe}}");
        var graph = JSON.parse("{{data|tojson}}");
        var dbName = document.querySelector("#select_datafiles").value;
        console.log(graph);
    </script>
    
</head>

<body>
    <div id="interacciones">
        <button id="mostrar_ocultar_sententree">
            Mostrar/ocultar Sententree
        </button>
        <button id="eliminar_nodo">
            Eliminar
        </button>
        <button id="mezclar_topico">
            Mezclar
        </button>

        <div id="buscar_topicos_container">
            <input id="numTopic" type="number" value="2" min="2" max="10" />
            <button id="buscar_topico">Buscar tópicos</button>
        </div>
    </div>
    <div id="main">
        <select id="select_dataset">
          {% for file in dataFiles %}
          <option value="{{ file }}">{{ file }}</option>
          {% endfor %}
        </select>
        <div class="detalles"></div>
        <div id="sententreeTopicos">
          <div id="loader-container"></div>
        </div>
      </div>
</body>
<!----------------------------------------------->
<script src="{{url_for('static',filename='js/interactions.js')}}"></script>
<script src="{{url_for('static',filename='js/SententopicVis.js')}}"></script>
</html>