@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Roboto&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
body{
    display: grid;
    grid-template-areas: 
    "h h"
    "n d"
    "n m";
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 8vh 10vh 80vh;
}

header{
    grid-area: h;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #373737;
    color: white;
    padding: 0px 20px 0px 20px;
}


#sententreeTopicos {
    height: 100%;
    width: 100%;
}
/* Animacion Carga */
#loader{
    position: fixed;
    z-index: -1;
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.group {
    margin: 50px;
    cursor: grab;
}

button {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#logo{
    font-size: 30px;
    font-weight: 700;
}

.label {
    cursor: pointer;
}
.background{
    cursor: grab;
}

#numTopic {
    text-align: center;
    font-weight: bold;
    font-size: 2vh;
    width: 50%;
    /* height: 3.5vh; */
}

.detalles {
    grid-area: d;
    text-wrap: wrap;
    text-overflow:ellipsis;
    overflow-y: scroll;
    border-top: 5px #4C9AF1 solid;
    padding:0px 15px 0px 15px;
    position: relative;
}


#select_dataset {
    width: 300px;
    text-align: center;
    height: 3vh;
}

nav {
    grid-area: n;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #F2F2EA;
}

nav .nav-item:first-child .item-logo{
    background-color: #277da1;
}
nav .nav-item:first-child .item-logo:hover{
    background-color: #1b546b;
}
nav .nav-item:nth-child(2) .item-logo{
    background-color: #f94144;
}
nav .nav-item:nth-child(2) .item-logo:hover{
    background-color: #ad3232;
}
nav .nav-item:nth-child(3) .item-logo{
    background-color: #9f86c0;
}
nav .nav-item:nth-child(3) .item-logo:hover{
    background-color: #67567f;
}
nav .nav-item:nth-child(4) .item-logo{
    background-color: #90be6d;
}
nav .nav-item:nth-child(4) .item-logo:hover{
    background-color: #6b8953;
}
.nav-item{
    border: 0;
    min-height: 50px;
    background-color: #F2F2EA;
    border: 1px #76777a solid;
    display: flex;
    flex-direction: row;
}
.item-logo{
    width: 30%;
    border:0;
    outline: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-logo:hover{
    cursor: pointer;
}
.item-logo  img{
    width: 30px;
    width: 30px;
}
.item-content{
    display:flex;
    width: 70%;
    align-items: center;
    justify-content: center;
}
.item-input{
    display: flex;
    flex-direction: column;
}
#buscar_topicos_container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

main{
    grid-area: m;
    font-family: Arial, sans-serif;
}